{% extends "base.html" %}
{% block main %}
    <div id="login" class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>ข้อมูลผู้ป่วย (patient: {{ patient_id }})</h1>
            <hr/>
            <table class="table">
            	<tr>
                    <th>Information</th>
            		<th></th>
            	</tr>
            	{% for patient_info in patient_infos %}
            	<tr>
                    <td>{{ patient_info.information }}</td>
            		<td>
            			<a class="btn btn-default" href="#">button</a>
            		</td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>
{% endblock %}