{% extends "base.html" %}
{% block main %}
    <div class="row">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 navText">
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <a href="/list_patient/" style="text-decoration:none"><span>ใบสั่งยาผู้ป่วย</span></a>
                <span class="next"> > </span>
                <span>รายการใบสั่งยา</span>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h1>Medical History (patient {{ patient_id }})</h1>
            <hr/>
            <table class="table">
            	<tr>
                    <th>Drug List</th>
            		<th>Created at</th>
            	</tr>
            	{% for prescription in prescriptions %}
            	<tr>
                    <td>{% for item in prescription.list %}
                        {{ item }}<br/>
                    {% endfor %}</td>
            		<td>{{ prescription.created_at }}</td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>
{% endblock %}