{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<link href="{% static 'css/listTable.css' %}" rel="stylesheet" media="screen">

    <div id="login" class="row">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 navText">
                {% if request.session.user_role == 'staff' %}
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <span>ดูรายการนัดหมาย</span>
                {% elif request.session.user_role == 'nurse' %}
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <a href="/list_patient/" style="text-decoration:none"><span>จัดการผู้ป่วย</span></a>
                <span class="next"> > </span>
                <span>ข้อมูลผู้ป่วย</span>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h1 class="headText" style="text:align:center" >ข้อมูลผู้ป่วย</h1>
            <hr/>
              <table class="table tableStyle info">
                <tr>
                  <th class="header" style="border-top-left-radius:5px">ข้อมูลผู้ป่วย</th>
                  <th class="header" style="border-top-right-radius:5px">บันทึกเมื่อ</th>
                </tr>
                {% for patient_info in patient_infos %}
                <tr>
                  <td>{{ patient_info.information }}</td>
                  <td>{{ patient_info.created_at }}</td>
                </tr>
                {% endfor %}
              </table>
        </div>
    </div>
{% endblock %}