{% extends "base.html" %}
{% block main %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <a href="/list_patient/" style="text-decoration:none"><span>จัดการผู้ป่วย</span></a>
            <span class="next"> > </span>
            <span>ประวัติการรักษา</span>
        </div>
    </div>
    <div id="login" class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>ประวัติการรักษา (patient {{ patient_id }})</h1>
            <hr/>
            <table class="table">
            	<tr>
                    <th>Symptom</th>
            		<th>Diagnosis</th>
            		<th>DRG Code</th>
            		<th></th>
            	</tr>
            	{% for medical_info in medical_infos %}
            	<tr>
                    <td>{{ medical_info.symptom }}</td>
            		<td>{{ medical_info.diagnosis }}</td>
            		<td>{{ medical_info.drg_code.id }}</td>
            		<td>
            			<a class="btn btn-default" href="#">button</a>
            		</td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>
{% endblock %}