{% extends "base.html" %}
{% block main %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <a href="/list_patient/" style="text-decoration:none"><span>จัดการผู้ป่วย</span></a>
            <span class="next"> > </span>
            <span>ประวัติการรักษา</span>
        </div>
    </div>
    <div id="login" class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>ประวัติการรักษา ({{ patient.first_name }} {{ patient.last_name }})</h1>
            <hr/>

            <div id="PatientInfo" class="row">
              <h2>ข้อมูลผู้ป่วย</h2>
              <table class="table">
                <tr>
                  <th>ข้อมูลผู้ป่วย</th>
                  <th>บันทึกเมื่อ</th>
                </tr>
                {% for patient_info in patient_infos %}
                <tr>
                  <td>{{ patient_info.information }}</td>
                  <td>{{ patient_info.created_at }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <hr/>

            <div id="MedicalInfo" class="row">
              <h2>ประวัติการรักษา</h2>
              <table class="table">
                <tr>
                  <th>อาการ</th>
                  <th>วินิจฉัย</th>
                  <th>รหัสโรค (DRG)</th>
                  <th>บันทึกเมื่อ</th>
                </tr>
                {% for medical_info in medical_infos %}
                <tr>
                  <td>{{ medical_info.symptom }}</td>
                  <td>{{ medical_info.diagnosis }}</td>
                  <td>{{ medical_info.drg_code.description }}</td>
                  <td>{{ medical_info.created_at }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <hr/>

            <div id="Prescription" class="row">
              <h2>บันทึกการรับยา</h2>
              <table class="table">
                <tr>
                  <th>รายการยา</th>
                  <th>บันทึกเมื่อ</th>
                </tr>
                {% for prescription in prescriptions %}
                <tr>
                  <td>{{ prescription.drug_list }}</td>
                  <td>{{ prescription.created_at }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <hr/>
        </div>
    </div>
{% endblock %}