<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>รายงานการนัดหมาย</title>
		<link href="css/style.css" rel="stylesheet" media="screen">
		<style type="text/css">
			@font-face {
			   font-family: OtherFont;
			   src: url("static/fonts/THSarabunNew.ttf");
			}
			body {
			   font-family: OtherFont;
			}
			th {
				font-size: 1.3em;
				vertical-align: middle;
				padding-top: 0.2em;
			}
			table, th, td {
			   border: 1px solid #aaa;
			}
			td {
				padding: 0.5em;
			}
			h1{
				font-size: 5em;
			}
		</style>
	</head>
	<body>
		\xe0\xb8\xa3\xe0\xb8\xb2\xe0\xb8\xa2\xe0\xb8\x87\xe0\xb8\xb2\xe0\xb8\x99\xe0\xb8\x81\xe0\xb8\xb2\xe0\xb8\xa3\xe0\xb8\x99\xe0\xb8\xb1\xe0\xb8\x94\xe0\xb8\xab\xe0\xb8\xa1\xe0\xb8\xb2\xe0\xb8\xa2<br>
		--------------------<br>
		{{head_text}}
		ppp
		<h1>pharmacist01</h1>
		pharmacist01
		ควย
	</body>
</html>