{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<link href="{% static 'css/appointment_table.css' %}" rel="stylesheet" media="screen">
<style type="text/css">
    .space{
        margin-top: 10px;
    }
</style>


    <div class="row">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 navText">
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <a href="/list_patient/" style="text-decoration:none"><span>จัดการผู้ป่วย</span></a>
                <span class="next"> > </span>
                <span>บันทึกข้อมูลผู้ป่วย</span>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h1>Record Patient Information <br/> (for Nurse)</h1>
            <hr/>
            <form class="form-inline" name="RegisterForm" action="/add_patient_information/{{ patient_id }}/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="col-md-4">
                    <img src="{% static 'avatar/' %}{{patient_id}}.jpg" style="height:200pt;width:150pt">
                </div>
                <div class="col-md-6">
                    <h4>{{patient.first_name}} {{patient.last_name}}</h4>
                    <div class="form-group row space">
                        <label class="control-label" for="weight">น้ำหนัก</label>
                        <input type="text" class="form-control" id="weight" name="weight" ></input>
                        <label class="control-label" for="weight">กิโลกรัม</label>
                    </div>
                    <div class="form-group row space">
                        <label class="control-label" for="height">ส่วนสูง</label>
                        <input type="text" class="form-control" id="height" name="height" ></input>
                        <label class="control-label" for="height">เซนติเมตร</label>
                    </div>
                    <div class="form-group row space">
                        <label class="control-label" for="temperature">อุณหภูมิ</label>
                        <input type="text" class="form-control" id="temperature" name="temperature" ></input>
                        <label class="control-label" for="temperature">องศาสเซลเซียส</label>
                    </div>
                    <div class="form-group row space">
                        <label class="control-label" for="presure">ความดันโลหิต</label>
                        <input type="text" class="form-control" id="pressure" name="pressure" ></input>
                        <label class="control-label" for="pressure">มิลลิเมตรปรอท</label>
                    </div>

                    <div class="form-group row space">
                        <label class="control-label" for="allergy">รายการแพ้ยา</label>
                        <textarea class="form-control" id="allergy" name="allergy" rows="5" cols="60"></textarea>
                    </div>
                    <div class="form-group row space">
                        <label class="control-label" for="note">หมายเหตุ</label>
                        <textarea class="form-control" id="note" name="note" rows="5" cols="60"></textarea>
                    </div>

                    <div class="row space">
                        <div class="col-md-4">
                            <button type="submit" class="add-button">บันทึก</button>
                        </div>
                    </div>
                </div>

                
            </form>
        </div>
    </div>
{% endblock %}