.cal-button-screen{
	display: block;
}

.cal-button > tbody > tr > th{
	width:111px;
	height:41px;
	text-align: center;
}
.cal-button > tbody > tr > td{
	width:111px;
	height:78px;
	text-align: center;
}
@media (max-width: 991px){
	.cal-button-screen{
		display: none;
	}
}

.left-button, .left-button-disable{
	width: 4.5em;
	height: 4.5em;
	border-radius: 4.5em;
	padding: 1em;
	opacity: 0.5;
}
.left-button,.right-button{
	background-color: #59C9B2;
	cursor: pointer;
}
.left-button:hover,.right-button:hover{
	opacity: 0.8;
}
.left-button-disable, .right-button-disable{
	background-color: #CBCBCB;
	cursor: default;
}
.right-button, .right-button-disable{
	width: 4.5em;
	height: 4.5em;
	border-radius: 4.5em;
	padding: 1em;
	margin-left: -1em;
	opacity: 0.5;
}
.button-div{
	width: 2.5em;
	height: 2.5em;
}
.button-div > img{
	max-width:100%;
	max-height:100%;
}
.calendar-cover{
	padding-left: 3em;
	padding-right: 3em;
}
.cal_calendar{
	width: 100%;
}
.table-month-left,.table-month-right{
	font-family: SK-SemiBold;
	padding:15px 20px;
	font-size: 2em;
	color: white;
}
.cal_calendar > tbody > .cal_d_weeks{
	font-family: SK-Thin;
    font-size: 1.2em;
    color: #948D94;
}
.cal_calendar > tbody > tr > .table-cover{
	background: #59C9B2;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.cal_calendar > tbody > tr > .table-cover > .table-month-left{
	float: left;
}
.cal_calendar > tbody > tr > .table-cover > .table-month-right{
	float:right;
}
.cal_calendar > tbody > tr > th{
	width:111px;
	height:41px;
	text-align: center;
	background: white;
}

.cal_calendar > tbody > tr > td{
	width:111px;
	height:78px;
	border: 2px solid white;
	text-align: center;
	background: #F4F4F4;
	font-family: SK-Text;
	font-size: 1.3em;
	color: #948D94;
}
.cal_calendar > tbody > tr > .cal_days_bef_aft{
	background: #EEE !important;
}

.cal-day,
.cal-day-all,
.cal-day-morning,
.cal-day-afternoon{
	cursor: pointer;
}

.notify{
	background: green;
}

.checkboxTime{
	font-family: SK-Thin; 
	background: url("../img/appointment/Checkbox.svg") no-repeat;
	font-size: 1.2em;
	line-height: 2.1em;
	padding-left: 3em;
	color: #9b9b9b;
	cursor: pointer;
}
.checkboxTime-m{
	width:28% !important;
	margin-left:22% !important;
}

.checkboxTime p{
	cursor: default;
}

@media screen{
	.calendar_time{
		margin-top: 2em; 
		margin-bottom:2em
	}
}
@media (max-width: 991px){
	.calendar_time{
		margin-left: 10%;
	}
	.calendar_time > .row{
		display: block;
	}
}

.calendar_time > .row{
	display: none;
}
.calendar_time input[type="radio"] {
    display:none;
}
.calendar_time input[type="radio"]:checked + label {
    background: url("../img/appointment/Checkbox_checked.svg") no-repeat;
}
.calendar_time input[type="radio"]:disabled + label {
	color: #CACACA;
    background: url("../img/appointment/Checkbox_disabled.svg") no-repeat;
    cursor: default;
}


.cal-day > .day-selected{
	width: 3em;
	height: 3em;
	border-radius: 3em;
	border: 3px solid #59C9B2;
	padding: 0.65em;
	margin: 0 auto;
	box-sizing: border-box;
}

.cal-day > .day-selected-choose,
.cal-day-all > .day-selected-choose,
.cal-day-afternoon > .day-selected-choose,
.cal-day-morning > .day-selected-choose{
	width: 3em;
	height: 3em;
	border-radius: 3em;
	border: 3px solid #59C9B2;
	margin: 0 auto;
}

.cal-day > .day-selected-choose > .day-selected-right,
.cal-day > .day-selected-choose > .day-selected-left,
.cal-day-morning > .day-selected-choose > .day-selected-right,
.cal-day-afternoon > .day-selected-choose > .day-selected-left{
	opacity: 0.5;
}
.cal-day-morning > .day-selected-choose > .day-selected-left,
.cal-day-afternoon > .day-selected-choose > .day-selected-right,
.cal-day-all > .day-selected-choose > .day-selected-left,
.cal-day-all > .day-selected-choose > .day-selected-right,
{
	opacity: 0.75;
}

.cal-day > .day-selected-choose > .day-selected-right,
.cal-day-all > .day-selected-choose > .day-selected-right,
.cal-day-morning > .day-selected-choose > .day-selected-right,
.cal-day-afternoon > .day-selected-choose > .day-selected-right{
	width: 50%;
	height: 100%;
	padding: 0.65em;
	margin: 0 auto;
	background-color: #59C9B2;

	float:left;

    border-top-left-radius: 0;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3em;
}

.cal-day > .day-selected-choose > .day-selected-left,
.cal-day-all > .day-selected-choose > .day-selected-left,
.cal-day-morning > .day-selected-choose > .day-selected-left,
.cal-day-afternoon > .day-selected-choose > .day-selected-left{
	width: 50%;
	height: 100%;
	background-color: #59C9B2;
	padding: 0.65em;
	margin: 0 0;
	float:left;

    border-top-left-radius: 3em;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 0;
}

.cal-day > .day-selected-choose > .day-selected-text,
.cal-day-all > .day-selected-choose > .day-selected-text,
.cal-day-afternoon > .day-selected-choose > .day-selected-text,
.cal-day-morning > .day-selected-choose > .day-selected-text{
	position: relative;
	left: -0.17em;
	top: -2em;
	width: 3em;
	height: 3em;
	border-radius: 3em;
	padding: 0.65em;
	margin: 0 auto;
	text-align: center;
}
.hidden-form{
	display: none;
}
.add-button{
	width: 100%;
	border-radius: 0em !important;
	border: 3px solid #59C9B2;
	background-color: transparent;
	padding: 0.5em;
    font-family: SK-Text;
    font-size: 1.2em;
    color: #59C9B2;
	margin-bottom: 2em;
}
.add-button-disable{
	cursor: default !important;
	width: 100%;
	border-radius: 0em !important;
	border: 3px solid #CFCFCF;
	background-color: transparent;
	padding: 0.5em;
    font-family: SK-Text;
    font-size: 1.2em;
    color: #CFCFCF;
	margin-bottom: 2em;
}