.table-month-left,.table-month-right{
	font-family: SK-SemiBold;
	padding:15px 20px;
	font-size: 1.5em;
	color: white;
}
.table-month-left{
	float: left;
}
.table-month-right{
	float:right;
}
.cal_d_weeks{
	font-family: SK-Thin;
    font-size: 1.2em;
    color: #948D94;
}
.table-cover{
	background: #59C9B2;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
th{
	width:111px;
	height:41px;
	text-align: center;
	background: white;
}

td{
	width:111px;
	height:78px;
	border: 2px solid white;
	text-align: center;
	background: #F4F4F4;
	font-family: SK-Text;
	font-size: 1.2em;
	color: #948D94;
}

.cal_day{
	cursor: pointer;
}

.notify{
	background: green;
}

.checkboxTime{
	font-family: SK-Text; 
	background: url("../img/appointment/Checkbox.svg") no-repeat;
	font-size: 1.2em;
	line-height: 2.1em;
	padding-left: 3em;
	color: #9b9b9b;
	cursor: pointer;
}

.checkboxTime p{
	cursor: default;
}

.calendar_time input[type="radio"] {
    display:none;
}

.calendar_time input[type="radio"]:checked + label {
    background: url("../img/appointment/Checkbox_checked.svg") no-repeat;
}