.frame{
	/*width: 100%;*/
	height: 250pt;
	background-color: #f8f8f8;
}
.splitter{
	padding-left: 50px;
	padding-right: 50px;
}
.button{
	height: 200px;
	width: 150px;
	background-color: #59c9b1;
	margin-left: 16px;
}
.lowFrame{
	height: 120pt;
	background-color: white;
}
.contentFrame{
	height: 200pt;
	background-color: #f8f8f8;	
}
.rectangle{
	border:2pt solid #59c9b1;
	background-color: white;

}
.setColor{
	border-top-width: 10pt;
	color: #59c9b1;
	font-size: 14pt;

}
.pictureFrame{
	height: 200pt;
	background-color: #e0e2e1;
}
.informationFrame{
	height: 150pt;
	background-color: #f8f8f8;
}
.margin{
	margin-top: 25pt;
}
.line{
	height: 3px;
	background-color: #59c9b1;
}
.clear{
	clear:both;
}