.node{
	width: 4.545454545454545%;
	height: 1em;
	border-radius: 1em;
	border: 2px solid white;
	float: left;
}
.node-active{
	background-color: white;
	width: 4.545454545454545%;
	height: 1em;
	border-radius: 1em;
	border: 2px solid white;
	float: left;
}
.line{
	width: 9.090909090909090909%;
	height: 1px;
	border: 1px solid white;
	float: left;
	margin-top: 0.5em;
}
.button-cover{
	position: absolute;
	bottom: 10em;
}
h3{
	margin-top: 2em;
	font-family: SK-Text;
}
h4{
	font-family: SK-Text;
	color: #bbb;
}
input {
	text-align: center;
}
.sum_name{
	font-size: 1.4em;
	font-family: SK-Medium;
}