@font-face {
    font-family: SK-Bold;
    src: url("../fonts/SukhumvitSet-Bold.ttf");
}
@font-face {
    font-family: SK-SemiBold;
    src: url("../fonts/SukhumvitSet-SemiBold.ttf");
}
@font-face {
    font-family: SK-Medium;
    src: url("../fonts/SukhumvitSet-Medium.ttf");
}
@font-face {
    font-family: SK-Text;
    src: url("../fonts/SukhumvitSet-Text.ttf");
}
@font-face {
    font-family: SK-Thin;
    src: url("../fonts/SukhumvitSet-Thin.ttf");
}
@font-face {
    font-family: SK-Light;
    src: url("../fonts/SukhumvitSet-Light.ttf");
}

.bg-login{
	height: 500px;
	text-align: center;
}

#login{
	margin-top: 60px;
	border-radius: 5px;
}

.top-login{
	background-color: rgba(255,255,255,0.4);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 180px;
}

.bottom-login{
	background-color: rgba(255,255,255,0.9);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 343px;
}

.login-form{
	margin-top: 10px;
}

.login-form-text{
	width: 80%;
	color: white;
	background-color: #dfd8d0;
}

.login-button{
	width:80%;
	background-color:#59c9b1;
	margin-top:10px;
	color: white;
	border-radius: 5px;
}