{% extends "base.html" %}
{% block main %}
    <div id="login" class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Login</h1>
            <hr/>
            <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}