{% extends "base.html" %}
{% block main %}
    <div id="login" class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Add Officer</h1>
            <hr/>
            <form class="form-horizontal" name="RegisterForm" action="/add_officer/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password">
                </div>

                <div class="form-group">
                    <label class="control-label" for="national_id">เลขบัตรประจำตัวประชาชน</label>
                    <input type="text" class="form-control" id="national_id" name="national_id">
                </div>
                <div class="form-group">
                    <label class="control-label" for="first_name">ชื่อ</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="first_name">นามสกุล</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">เพศ</label>
                    <input type="text" class="form-control" id="gender" name="gender">
                    <p class="help-block">1 = ชาย, 2 = หญิง, 3 = อื่นๆ</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="position">ตำแหน่ง</label>
                    <input type="text" class="form-control" id="position" name="position">
                    <p class="help-block">1 = เจ้าหน้าที่, 2 = แพทย์, 3 = พยาบาล, 4 = เภสัชกร</p>
                </div>
                <!-- <div class="form-group">
                    <label class="control-label" for="specialist">ความเชี่ยวชาญ</label>
                    <input type="text" class="form-control" id="specialist" name="specialist">
                    <p class="help-block">กรอกเฉพาะแพทย์</p>
                </div> -->
                <div class="form-group">
                    <label class="control-label" for="specialist_id">ความเชี่ยวชาญ / แผนก</label>
                    <select class="form-control" id="specialist_id" name="specialist_id" >
                        {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                    <p class="help-block">กรอกเฉพาะแพทย์/พยาบาล</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="birthdate">วันเกิด</label>
                    <input type="text" class="form-control" id="birthdate" name="birthdate">
                    <p class="help-block">yyyy-mm-dd</p>
                </div>

                <div class="form-group">
                    <label class="control-label" for="address">ที่อยู่</label>
                    <input type="text" class="form-control" id="address" name="address">
                </div>
                <div class="form-group">
                    <label class="control-label" for="phone">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">อีเมล</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label class="control-label" for="picture">รูปถ่าย</label>
                    <input type="file" class="form-control" id="picture" name="picture">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}