{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>MHAPPI</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/justified-nav.css' %}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted"><img src="{% static 'img/logo.png' %}" /> MHAPPI </h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="/login">Home</a></li>
            <li><a href="#">.</a></li>
            <li><a href="#">.</a></li>
            <li><a href="#">.</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="/update_profile/">Welcome, {{ request.user.username }} ({{ request.session.user_role }})</a></li>
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            
            {% endif %}
          </ul>
        </nav>
      </div>

      <!-- Flash Messages -->
      {% if messages %}
        {% for msg in messages %}
          {% if msg.level_tag == 'error' %}
          <div class="alert alert-danger">
          {% else %}
          <div class="alert alert-{{msg.level_tag}}">
          {% endif %}
            [{{msg.level_tag}}] {{msg.message}}
          </div>
        {% endfor %}
      {% endif %}


      <!-- Main Content -->
      {% block main %}{% endblock %}

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; MHAPPI 2015, All rights reserved.</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
