{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<link href="{% static 'css/listTable.css' %}" rel="stylesheet" media="screen">
    <div class="row">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 navText">
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <span>แก้ไขรหัสผ่าน</span>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <h1 class="headText" style="text-align:center">Reset Password</h1>
            <hr/>
            <form class="form-horizontal" name="RegisterForm" action="/change_password/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="old_password">Old Password</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" maxlength="20" value="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="new_password">New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" maxlength="20" value="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" maxlength="20" value="" disabled>
                    <label class="control-label" id="wrongpwd" style="display:none;color:red;">Password doesn't match</label>
                </div>
                <br>
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <button type="submit" id="submit_btn" class="default-button-disable" disabled>SAVE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    var check = false;
    $('#old_password').keyup(function(){
        checkPass();
    });
    $('#new_password').keyup(function(){
        if($(this).val() != ""){
            document.getElementById("confirm_password").disabled = false;
            document.getElementById("submit_btn").className = "default-button";
            document.getElementById("wrongpwd").style.display = "none";
        }
        else{
            document.getElementById("confirm_password").disabled = true;
            document.getElementById("submit_btn").className = "default-button-disable";
            document.getElementById("confirm_password").value = "";
        }
    });
    $('#confirm_password').keyup(function(){
        checkPass();
    });
    function checkPass(){
        if($('#confirm_password').val() !== $('#new_password').val()){
            document.getElementById("submit_btn").disabled = true;
            document.getElementById("submit_btn").className = "default-button-disable";
            document.getElementById("wrongpwd").style.display = "block";
        }
        else if($('#confirm_password').val() !== "" && $('#confirm_password').val() == $('#new_password').val()){
            if($('#old_password').val() != ""){
                document.getElementById("submit_btn").disabled = false;
                document.getElementById("submit_btn").className = "default-button";
                document.getElementById("wrongpwd").style.display = "none";
            }
            else{

            document.getElementById("submit_btn").disabled = true;
            document.getElementById("submit_btn").className = "default-button-disable";

            }
        }
    }
    </script>
{% endblock %}