{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<link href="{% static 'css/list_doctor.css' %}" rel="stylesheet" media="screen">

    <div class="row">
        <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <span>ดูรายการนัดหมาย</span>
        </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
        <div id="dateToday"></div>
            <hr/>
            <table class="table tableStyle info">

            	<tr>
            		<th class="header topic">ID</th>
            		<th class="header topic">Name</th>
            		<th class="header "></th>
            	</tr>
            	{% for doctor in doctors %}
            	<tr>
            		<td>{{ doctor.hospital_id }}</td>
            		<td>{{ doctor.first_name }} {{ doctor.last_name }}</td>
            		<td>
                        <a class="button" href="/make_clinic_time/{{ doctor.id }}/">make clinic time</a>
            			<a class="button" href="/list_clinic_time/{{ doctor.id }}/">list clinic time</a>
            		</td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>
    <script type="text/javascript">
    document.getElementById('dateToday').write("<b>" + day + "/" + month + "/" + year + "</b>");
    var currentDate = new Date()
    var day = currentDate.getDate()
    var month = currentDate.getMonth() + 1
    var year = currentDate.getFullYear()
    
    </script>

{% endblock %}