{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<link href="{% static 'css/listTable.css' %}" rel="stylesheet" media="screen">

    <div class="row">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 navText">
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <span>จัดการแพทย์</span>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h1 class="headText" style="text-align:center">รายชื่อแพทย์</h1>
        </hr>
        <div id="dateToday"></div>
            <table class="table tableStyle info" >
            	<tr>
                    <th class="header" style="border-top-left-radius:5px"></th>
            		<th class="header topic">รหัสเจ้าหน้าที่</th>
            		<th class="header topic">ชื่อ-นามสกุล</th>
            		<th class="header" style="border-top-right-radius:5px"></th>
            	</tr>
                <tr>
                <form class="form-inline" method="post" action="/list_patient/">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <td></td>
                    <td><input type="text" class="form-control" id="hospital_id" name="hospital_id" value="{{ hospital_id }}" placeholder="ค้นหาด้วย ID"></th>
                    <td>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}" placeholder="ค้นหาด้วย ชื่อ">
                    </td>
                    <td><button type="submit" class="btn btn-default">ค้นหา</button></td>
                </form>
                </tr>
            	{% for doctor in doctors %}
            	<tr>
                    <td><img src="{% static 'avatar/' %}{{ doctor.id }}.jpg" style="height: 40px;"></td>
            		<td>{{ doctor.hospital_id }}</td>
            		<td>{{ doctor.first_name }} {{ doctor.last_name }}</td>
            		<td style="text-align:right">
                        <a class="btn btn-default" style="inline-block"  href="/make_clinic_time/{{ doctor.id }}/" style="border-radius: 5px;">แจ้งเวลาออกตรวจ</a>
            			<a class="btn btn-default" style="inline-block"  href="/list_clinic_time/{{ doctor.id }}/" style="border-radius: 5px;">ดูเวลาออกตรวจ</a>
            		</td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>
    <script type="text/javascript">
    document.getElementById('dateToday').write("<b>" + day + "/" + month + "/" + year + "</b>");
    var currentDate = new Date()
    var day = currentDate.getDate()
    var month = currentDate.getMonth() + 1
    var year = currentDate.getFullYear()
    
    </script>

{% endblock %}