{% extends "base.html" %}
{% block main %}
    <div id="login" class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Patient Lists (all)</h1>
            <hr/>
            <table class="table">
            	<tr>
            		<th>HN ID</th>
            		<th>Name</th>
            		<th></th>
            	</tr>
            	{% for patient in patients %}
            	<tr>
            		<td>{{ patient.hospital_id }}</td>
            		<td>{{ patient.first_name }} {{ patient.last_name }}</td>
            		<td>
            			{% if request.session.user_role == 'staff' %}
            			<a class="btn btn-default" href="/make_appointment/{{ patient.id }}/">make appointment</a>
            			<a class="btn btn-default" href="/list_appointment/{{ patient.id }}/">list appointment</a>
            			<a class="btn btn-default" href="/cancel_appointment/{{ patient.id }}/">cancel appointment</a>
            			{% endif %}
						{% if request.session.user_role == 'doctor' %}
            			<a class="btn btn-default" href="/add_medical_record/{{ patient.id }}/">create medical record</a>
            			<a class="btn btn-default" href="/list_medical_record/{{ patient.id }}/">list medical record</a>
            			{% endif %}
            			{% if request.session.user_role == 'nurse' %}
            			<a class="btn btn-default" href="/add_patient_information/{{ patient.id }}/">create patient info.</a>
            			<a class="btn btn-default" href="/list_patient_information/{{ patient.id }}/">list patient info.</a>
            			{% endif %}
            			{% if request.session.user_role == 'pharmacist' %}
            			<a class="btn btn-default" href="/list_prescription/{{ patient.id }}/">list prescription</a>
            			{% endif %}
            		</td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>
{% endblock %}