{% extends "base.html" %}
{% block main %}    
    <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <span>จัดการผู้ป่วย</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Patient Lists (all)</h1>
            <hr/>
            <table class="table">
            	<tr>
            		<th>HN ID</th>
            		<th>Name</th>
            		<th></th>
            	</tr>
            	{% for patient in patients %}
            	<tr>
            		<td>{{ patient.hospital_id }}</td>
            		<td>{{ patient.first_name }} {{ patient.last_name }}</td>
            		<td>
            			{% if request.session.user_role == 'staff' %}
            			<a class="btn btn-default" href="/staff_make_appointment/{{ patient.id }}/">ทำการนัดหมาย</a>
            			<a class="btn btn-default" href="/list_appointment/{{ patient.id }}/">รายการนัดหมาย</a>
            			{% endif %}
						{% if request.session.user_role == 'doctor' %}
            			<a class="btn btn-default" href="/add_medical_record/{{ patient.id }}/">บันทึกการรักษา</a>
            			<a class="btn btn-default" href="/list_medical_record/{{ patient.id }}/">ประวัตืการรักษา</a>
            			{% endif %}
            			{% if request.session.user_role == 'nurse' %}
            			<a class="btn btn-default" href="/add_patient_information/{{ patient.id }}/">บันทึกข้อมูลผู้ป่วย</a>
            			<a class="btn btn-default" href="/list_patient_information/{{ patient.id }}/">ข้อมูลผู้ป่วย</a>
            			{% endif %}
            			{% if request.session.user_role == 'pharmacist' %}
            			<a class="btn btn-default" href="/list_prescription/{{ patient.id }}/">รายการใบสั่งยา</a>
            			{% endif %}
            		</td>
            	</tr>
            	{% endfor %}
            </table>
        </div>
    </div>
{% endblock %}