{% extends "base.html" %}

{% block loginBg %}
body{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background: #fef2ca !important; /* Old browsers */
    background: -moz-linear-gradient(top, #fef2ca 0%, #55b8a3 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fef2ca 0%,#55b8a3 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fef2ca 0%,#55b8a3 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef2ca', endColorstr='#55b8a3',GradientType=0 ) !important; /* IE6-9 */
}
{% endblock %}

{% block main %}
    <div class="container bg-login" >
        <div id="login" class="row">
            <div class="col-md-4 col-md-offset-4 top-login">
                <h1>LOGO</h1>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 bottom-login">
                <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <div class="form-group login-form" align="center" style="margin-top: 30px;">
                        <!-- <label class="control-label" for="username">Username</label> -->
                        <input type="text" class="form-control login-form-text" id="username" name="username" placeholder="username">
                    </div>
                    <div class="form-group login-form" align="center">
                        <!-- <label class="control-label" for="password">Password</label> -->
                        <input type="password" class="form-control login-form-text" name="password" id="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn login-button">เข้าสู่ระบบ</button>
                    </div>
                    <div class="form-group">
                        <a class="" href="/reset_password">ลืมรหัสผ่าน</a>
                    </div>
                </form>  
            </div>
        </div>
        <div class="row">
            <a class="btn btn-default" href="/register">Register</a>
        </div>
    </div>
{% endblock %}