{% extends "base.html" %}
{% block main %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <div class="container bg-login" >
        <div id="login" class="row">
            <div class="col-md-4 col-md-offset-4 top-login">
                <h1>LOGO</h1>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 bottom-login">
                <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <div class="form-group login-form" align="center" style="margin-top: 30px;">
                        <!-- <label class="control-label" for="username">Username</label> -->
                        <input type="text" class="form-control login-form-text" id="username" name="username" value="username">
                    </div>
                    <div class="form-group login-form" align="center">
                        <!-- <label class="control-label" for="password">Password</label> -->
                        <input type="password" class="form-control login-form-text" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn login-button">เข้าสู่ระบบ</button>
                    </div>
                    <div class="form-group">
                        <a class="" href="/reset_password">ลืมรหัสผ่าน</a>
                    </div>
                </form>  
            </div>
        </div>
        <div class="row">
            <a class="btn btn-default" href="/register">Register</a>
        </div>
    </div>
{% endblock %}