{% extends "base.html" %}
{% block main %}

{% load staticfiles %}
<link href="{% static 'css/nurse.css' %}" rel="stylesheet" media="screen">
    <div class="row">
    	<div class="frame col-md-12">
        	<div class="contentFrame margin col-md-9 col-md-offset-3" style="text-align:center" >
        		<div class="pictureFrame col-md-3">
                    <!-- <img src="{% static 'img/Logo-Green.svg' %}" /> -->
                    <p><img src="{% static 'avatar/' %}{{request.user.id}}.jpg" style="height:200pt;"></p>
                </div>
                <div class="informationFrame col-md-7" style="display:inline-block">
                    <div class="name" style="text-align:left">
                        <p>{{ request.session.user_info.prefix_name }}  {{ request.session.user_info.first_name }} {{ request.session.user_info.last_name }}</p>
                    </div>
                    <div class="info" style="text-align:left">
                        <p>เลขที่พนักงาน{{ request.session.user_info.hospital_id }}
                    </div>
                    <div class="info" style="text-align:left">
                        <p>แผนก {{ request.session.user_dept }}</p>
                    </div>
                    <div class="info" style="text-align:left">
                        <p>เบอร์โทรศัพท์ {{ request.session.user_info.phone }}
                    </div>
                </div>
         		<div class="rectangle col-md-3"style="text-align:center; margin-top:10px;">
        		 <a class="setColor" href="/update_profile/">แก้ไขข้อมูลส่วนตัว</a>
        	</div>   
         	</div>


    	</div>    
    </div>
    <div class="row">
    	<div class="line col-md-12" style="text-align:center;" 	>
    	</div>
    	<div class="splitter col-md-5 col-md-offset-5" style="text-align:center;">
             <div class="button col-md-3" style="display:inline-block;">
                <a href="/list_patient">
                    <img src="{% static 'img/home/nurse_manage.svg' %}" style="width:70%;margin-top:30px;">
                </a>
            </div>	
        </div>

    </div>
{% endblock %}