{% extends "base.html" %}
{% block main %}

{% load staticfiles %}
<link href="{% static 'css/nurse.css' %}" rel="stylesheet" media="screen">
    <div class="row">
    	<div class="frame col-md-12">
        	<div class="contentFrame margin col-md-6 col-md-offset-3">
        		<div class="pictureFrame col-md-4">
        			<img src="{% static 'img/Logo-Green.svg' %}" />
         		</div>
         		<div class="informationFrame col-md-7 col-md-offset-1">

         		</div>
         		<div class="rectangle col-md-3 col-md-offset-3"style="text-align:center; margin-top:10px;">
        		 <a class="setColor" href="/update_profile/">แก้ไขข้อมูลส่วนตัว</a>
        	</div>   
         	</div>


    	</div>    
    </div>
    <div class="row">
    	<div class="lowFrame col-md-12">
            	<a href="/list_patient">List Patient</a>
            </div>

    </div>
{% endblock %}