{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<link href="{% static 'css/pharmacist.css' %}" rel="stylesheet" media="screen">
    <div class="row">
        <div class="frame col-md-12">
            <div class="contentFrame margin col-md-9 col-md-offset-3" style="text-align:center" >
                <div class="pictureFrame">
                    <!-- <img src="{% static 'img/Logo-Green.svg' %}" /> -->
                    <p><img src="{% static 'avatar/' %}{{request.user.id}}.jpg" style="height:100%;width:100%"></p>
                </div>
                <div class="informationFrame col-md-8" style="display:inline-block">
                    <div class="name" style="text-align:left">
                        <p>{{ request.session.user_info.prefix_name }}  {{ request.session.user_info.first_name }} {{ request.session.user_info.last_name }}</p>
                    </div>
                    <div class="info" style="text-align:left">
                        <p>เลขที่พนักงาน{{ request.session.user_info.hospital_id }}
                    </div>
                    <div class="info" style="text-align:left">
                        <p>แผนก {{ request.session.user_dept }}</p>
                    </div>
                    <div class="info" style="text-align:left">
                        <p>เบอร์โทรศัพท์ {{ request.session.user_info.phone }}</p>
                    </div>
                    <div class="col-md-5"style="text-align:center;padding-left:0px;margin-top:1em;">
                        <a href="/update_profile/" style="
    text-decoration: none;"><div class="default-button">แก้ไขข้อมูลส่วนตัว</div></a>
                    </div>
            </div>


        </div>    
    </div>
    <div class="row">
        <div class="line col-md-12" style="text-align:center;"  >
        </div>
        <div class="splitter col-md-5 col-md-offset-5" style="text-align:center;">
             <div class="button col-md-3" style="display:inline-block;">
                <a href="/list_patient">
                    <img src="{% static 'img/home/pharma_prescript.svg' %}" style="width:70%;margin-top:30px;">
                </a>
            </div>  
        </div>

    </div>
    <!-- <div class="row">
    	<div class="line col-md-12" style="text-align:center;" 	>
    	</div>
    	<div class="splitter col-md-5 col-md-offset-5" style="text-align:center;">
             <div class="button col-md-3" style="display:inline-block;">
                <a href="/list_patient">
                    <img src="{% static 'img/home/pharma_prescript.svg' %}" style="width:70%;margin-top:30px;">
                </a>
            </div>	
        </div>

    </div> -->
{% endblock %}
<!-- <a class="btn btn-default btn-block" href="/list_patient">List Patient</a> -->