{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<style>
    .row-100{
        width:100%;
        margin: 0px;
    }
    #page_01{
        display: block;
    }
    #page_02,#page_03,#page_04,#page_05,#page_06{
        display: none;
    }

</style>
<form class="form-horizontal" name="RegisterForm" action="/register/" method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}


    <div class="row row-100 regis-header">
        <div style="color:white;">
            <h1 style="margin:0px;">ลงทะเบียนผู้ป่วย</h1>
            <div>-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-</div>
        </div>
    </div>

    <div id="page_01" class="row row-100 regis-bottom" align="center">
        <div class="col-md-8 col-md-offset-2 regis-bottom">
            <h3 class="row" style="color: #948d94;">กรุณาระบุเพศ</h3>
            <div class="row" style="height:100px; margin-top:30px;">
                <div class="col-md-4 col-md-offset-4">
                    <div class="row gender-radio">
                        <div class="col-md-3 col-md-offset-3" style="height:100px; padding:5px;">
                            <input type="radio" class="form-control" id="gender-male" name="gender" value="1" checked>
                            <label class="round-btn" for="gender-male">
                                LEFT
                            </label>
                        </div>
                        <div class="col-md-3" style="height:100px; padding:5px;">
                            <input type="radio" class="form-control" id="gender-female" name="gender" value="2">
                            <label class="round-btn" for="gender-female">
                                RIGHT
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5 next-btn" onclick="nextpage();">
                    ถัดไป
                </div>
            </div>
        </div>
    </div>
    <div id="page_02" class="row row-100 regis-bottom" align="center">
        <div class="col-md-8 col-md-offset-2" align="center">
            <h3 class="row" style="color: #948d94;">กรุณากรอกชื่อ-นามสกุล</h3>
            <div class="row" style="margin-top:35px;" align="center">
                <div class="form-group text-input">
                    <input type="text" class="form-control login-form-text" id="prefix_name" name="prefix_name" placeholder="คำนำหน้าชื่อ">
                </div>
            </div>
            <div class="row" style="margin-top:5px;" align="center">
                <div class="form-group text-input">
                    <input type="text" class="form-control  login-form-text" id="first_name" name="first_name" placeholder="ชื่อ">
                </div>
            </div>
            <div class="row" style="margin-top:5px;" align="center">
                <div class="form-group text-input">
                    <input type="text" class="form-control  login-form-text" id="last_name" name="last_name" placeholder="นามสกุล">
                </div>
            </div>
            <div class="row" style="margin-top:30px;" align="center">
                    <div class="col-md-3 col-md-offset-1 next-btn" onclick="prevpage();">
                        ย้อนกลับ
                    </div>
                    <div class="col-md-3 col-md-offset-4 next-btn" onclick="nextpage();">
                        ถัดไป
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page_03" class="row row-100 regis-bottom" align="center">
        <div class="col-md-8 col-md-offset-2" align="center">
            <h3 class="row" style="color: #948d94;">กรุณากรอกเลขบัตรประจำตัวประชาชน</h3>
            <div class="row" style="margin-top:35px;" align="center">
                <div class="form-group text-input">
                    <input type="text" class="form-control login-form-text" id="national_id" name="national_id" placeholder="ex. 1129900935123">
                </div>
            </div>
            
            <div class="row" style="margin-top:30px;" align="center">
                    <div class="col-md-3 col-md-offset-1 next-btn" onclick="prevpage();">
                        ย้อนกลับ
                    </div>
                    <div class="col-md-3 col-md-offset-4 next-btn" onclick="nextpage();">
                        ถัดไป
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page_04" class="row row-100 regis-bottom" align="center">
        <div class="col-md-8 col-md-offset-2" align="center">
            <h3 class="row" style="color: #948d94;">กรุณากรอกที่อยู่ของคุณ</h3>
            <div class="row" style="margin-top:35px;" align="center">
                <div class="col-md-2">
                    บ้านเลขที่
                </div>
                <div class="col-md-4">
                    <div class="form-group text-input">
                        <input type="text" class="form-control login-form-text" id="home_id" name="home_id">
                    </div>
                </div>

                <div class="col-md-2">
                    ถนน
                </div>
                <div class="col-md-4">
                    <div class="form-group text-input">
                        <input type="text" class="form-control login-form-text" id="road" name="road">
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-top:35px;" align="center">
                <div class="col-md-2">
                    แขวง/ตำบล
                </div>
                <div class="col-md-4">
                    <div class="form-group text-input">
                        <input type="text" class="form-control login-form-text" id="tambol" name="tambol">
                    </div>
                </div>

                <div class="col-md-2">
                    เขต/อำเภอ
                </div>
                <div class="col-md-4">
                    <div class="form-group text-input">
                        <input type="text" class="form-control login-form-text" id="amphur" name="amphur">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:35px;" align="center">
                <div class="col-md-2">
                    จังหวัด
                </div>
                <div class="col-md-4">
                    <div class="form-group text-input">
                        <input type="text" class="form-control login-form-text" id="province" name="province">
                    </div>
                </div>

                <div class="col-md-2">
                    รหัสไปรษณีย์
                </div>
                <div class="col-md-4">
                    <div class="form-group text-input">
                        <input type="text" class="form-control login-form-text" id="postcode" name="postcode">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:30px;" align="center">
                    <div class="col-md-3 col-md-offset-1 next-btn" onclick="prevpage();">
                        ย้อนกลับ
                    </div>
                    <div class="col-md-3 col-md-offset-4 next-btn" onclick="nextpage();">
                        ถัดไป
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page_05" class="row row-100 regis-bottom" align="center">
        <div class="col-md-8 col-md-offset-2" align="center">
            <h3 class="row" style="color: #948d94;">กรุณาระบุวันเกิด</h3>
            <div class="row" style="margin-top:35px;" align="center">
                <div class="col-md-1">วันที่</div>
                <div class="col-md-3">
                    <select name="date">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                </div>

                <div class="col-md-1">เดือน</div>
                <div class="col-md-3">
                    <select name="month">
                        <option value="1">มกราคม</option>
                        <option value="2">กุมภาพนธ์</option>
                        <option value="3">มีนาคม</option>
                        <option value="4">เมษายน</option>
                        <option value="5">พฤษภาคม</option>
                        <option value="6">มิถุนายน</option>
                        <option value="7">กรกฎาคม</option>
                        <option value="8">สิงหาคม</option>
                        <option value="9">กันยายน</option>
                        <option value="10">ตุลาคม</option>
                        <option value="11">พฤศจิกายน</option>
                        <option value="12">ธันวาคม  </option>
                    </select>
                </div>

                <div class="col-md-1">พ.ศ.</div>
                <div class="col-md-3">
                    <select name="year">
                        <option value="1">มกราคม</option>
                        <option value="2">กุมภาพนธ์</option>
                        <option value="3">มีนาคม</option>
                        <option value="4">เมษายน</option>
                        <option value="5">พฤษภาคม</option>
                        <option value="6">มิถุนายน</option>
                        <option value="7">กรกฎาคม</option>
                        <option value="8">สิงหาคม</option>
                        <option value="9">กันยายน</option>
                        <option value="10">ตุลาคม</option>
                        <option value="11">พฤศจิกายน</option>
                        <option value="12">ธันวาคม  </option>
                    </select>
                </div>
            </div>
            
            <div class="row" style="margin-top:30px;" align="center">
                    <div class="col-md-3 col-md-offset-1 next-btn" onclick="prevpage();">
                        ย้อนกลับ
                    </div>
                    <div class="col-md-3 col-md-offset-4 next-btn" onclick="nextpage();">
                        ถัดไป
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page_06" class="row row-100 regis-bottom" align="center">
        <div class="col-md-8 col-md-offset-2" align="center">
            <h3 class="row" style="color: #948d94;">กรุณากรอกเบอร์โทรศัพท์และอีเมล</h3>
            <div class="row" style="margin-top:35px;" align="center">
                <div class="form-group text-input">
                    <input type="text" class="form-control login-form-text" id="tel" name="tel" placeholder="เบอร์โทรศัพท์">
                </div>
            </div>
            <div class="row" style="margin-top:5px;" align="center">
                <div class="form-group text-input">
                    <input type="text" class="form-control  login-form-text" id="email" name="email" placeholder="อีเมล">
                </div>
            </div>
            <div class="row" style="margin-top:30px;" align="center">
                    <div class="col-md-3 col-md-offset-1 next-btn" onclick="prevpage();">
                        ย้อนกลับ
                    </div>
                    <div class="col-md-3 col-md-offset-4 next-btn" onclick="nextpage();">
                        ถัดไป
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var page_now = 1;
        function nextpage(){
            document.getElementById('page_0'+page_now).style.display = "none"
            page_now++;
            document.getElementById('page_0'+page_now).style.display = "block";
        }
        function prevpage(){
            document.getElementById('page_0'+page_now).style.display = "none"
            page_now--;
            document.getElementById('page_0'+page_now).style.display = "block";
        }
    </script>


{% endblock %}
