{% extends "base.html" %}
{% block main %}
    <div class="row">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 navText">
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <span>แก้ไขรหัสผ่าน</span>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <h1>Reset Passsword</h1>
            <hr/>
            <form class="form-horizontal" name="ResetPasswordForm" action="/reset_password/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group">
                    <label class="control-label" for="email">Your Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <br>
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <button type="submit" class="default-button">RESET PASSWORD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}