{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
    <link href="{% static 'css/officer.css' %}" rel="stylesheet" media="screen">
    <div class="row">
        <div class="frame col-md-12">
            <div class="contentFrame margin col-md-8 col-md-offset-3" style="text-align:center" >
                <div class="pictureFrame ">
                    <!-- <img src="{% static 'img/Logo-Green.svg' %}" /> -->
                    <p><img src="{% static 'avatar/' %}{{request.user.id}}.jpg" style="height:100%;width:100%"></p>
                </div>
                <div class="informationFrame col-md-8" style="display:inline-block">
                    <div class="name" style="text-align:left">
                        <p>{{ request.session.user_info.prefix_name }}  {{ request.session.user_info.first_name }} {{ request.session.user_info.last_name }}</p>
                    </div>
                    <div class="info" style="text-align:left">
                        <p>เลขที่พนักงาน {{ request.session.user_info.hospital_id }}
                    </div>
                    <div class="info" style="text-align:left">
                        <p>แผนก {{ request.session.user_dept }}</p>
                    </div>
                    <div class="info" style="text-align:left">
                        <p>เบอร์โทรศัพท์ {{ request.session.user_info.phone }}
                    </div>
                    <div class="col-md-5"style="text-align:center;padding-left:0px;margin-top:1em;">
                        <a href="/update_profile/" style="
    text-decoration: none;"><div class="default-button">แก้ไขข้อมูลส่วนตัว</div></a>
                    </div>
                </div>   
            </div>


        </div>    
    </div>
    <div class="row">
        <div class="line col-md-12" style="text-align:center;"  >
        </div>
        <div class="splitter col-md-6 col-md-offset-3" style="text-align:center;">
            <a href="/list_patient">
                <div class="button" style="display:inline-block;text-align:center">
                    <img src="{% static 'img/home/officer_appoint.svg' %}" style="width:100%;height:80% ;margin-top:30px;"> 
                </div>
            </a>
            <!-- <a class="btn btn-default btn-block" href="/make_appointment">Make Appointment</a> -->
           
            <a href="/list_doctor/">
                <div class="button" style="display:inline-block">
                    <img src="{% static 'img/home/doctor_seeAppointment.svg' %}" style="width:96%;height:80%;margin-top:30px;">
                </div>
            </a>  

            
        </div>
    </div>
<!--     <div class="row">
        <div class="line col-md-12" style="text-align:center;"  >
        </div>
        <div class="splitter col-md-6 col-md-offset-3" style="text-align:center;">
            
            <a href="/list_patient">
                <div class="button" style="display:inline-block">
                    <img src="{% static 'img/home/officer_appoint.svg' %}" style="width:81%;height80%;margin-top:30px;">
                </div>
            </a>
            <a href="/list_doctor/">
                <div class="button" style="display:inline-block">
                    <img src="{% static 'img/home/officer_seeAppoinment.svg' %}" style="width:80%;height80%;margin-top:30px;">
                </div>
            </a>  
        </div>
    </div>   
        -->
{% endblock %}
<!-- <a class="btn btn-default btn-block" href="/list_patient">Make Appointment (List Patients)</a>
            <a class="btn btn-default btn-block" href="/list_doctor">Make Clinic TIme (List Doctors)</a> -->