{% extends "base.html" %}
{% block main %}
{% load staticfiles %}
<link href="{% static 'css/listTable.css' %}" rel="stylesheet" media="screen">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <span>แก้ไขข้อมูลส่วนตัว</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="headText" style="text-align:center">แก้ไขข้อมูลส่วนตัว</h1>
            <hr/>
            <form class="form-horizontal" name="RegisterForm" action="/update_profile/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

                <div class="form-group">
                    <label class="control-label" for="hospital_id">เลขบัตรประจำตัวผู้ป่วย</label>
                    <input type="text" class="form-control" id="hospital_id" name="hospital_id" value="{{ profile.hospital_id }}" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="national_id">เลขบัตรประจำตัวประชาชน</label>
                    <input type="text" class="form-control" id="national_id" name="national_id" value="{{ profile.national_id }}" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="first_name">ชื่อ</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ profile.first_name }}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="first_name">นามสกุล</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ profile.last_name }}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">เพศ</label>
                    <input type="text" class="form-control" id="gender" name="gender" value="{{ profile.gender }}" disabled="">
                    <p class="help-block">1 = ชาย, 2 = หญิง, 3 = อื่นๆ</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="birthdate">วันเกิด</label>
                    <input type="text" class="form-control" id="birthdate" name="birthdate" value="{{ profile.birthdate }}" disabled="">
                    <p class="help-block">yyyy-mm-dd</p>
                </div>

                <div class="form-group">
                    <label class="control-label" for="address">ที่อยู่</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{ profile.address }}" >
                </div>
                <div class="form-group">
                    <label class="control-label" for="phone">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ profile.phone }}" >
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">อีเมล</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ profile.email }}" >
                </div>
                <br>
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <button type="submit" class="default-button">UPDATE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}