{% extends "base.html" %}
{% block main %}
    <div id="login" class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Update Profile ({{ request.user.username }})</h1>
            <hr/>
            <form class="form-horizontal" name="RegisterForm" action="/update_profile/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}

                <div class="form-group">
                    <label class="control-label" for="username">username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" disabled="">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">password</label>
                    <input type="password" class="form-control" id="password" name="password" value="">
                </div>

                <div class="form-group">
                    <label class="control-label" for="confirm_password">confirm password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="">
                </div>

                <div class="form-group">
                    <label class="control-label" for="hospital_id">เลขบัตรประจำตัวผู้ป่วย</label>
                    <input type="text" class="form-control" id="hospital_id" name="hospital_id" value="{{ patient.hospital_id }}" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="national_id">เลขบัตรประจำตัวประชาชน</label>
                    <input type="text" class="form-control" id="national_id" name="national_id" value="{{ patient.national_id }}" disabled="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="first_name">ชื่อ</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ patient.first_name }}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="first_name">นามสกุล</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ patient.last_name }}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">เพศ</label>
                    <input type="text" class="form-control" id="gender" name="gender" value="{{ patient.gender }}" disabled="">
                    <p class="help-block">1 = ชาย, 2 = หญิง, 3 = อื่นๆ</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="birthdate">วันเกิด</label>
                    <input type="text" class="form-control" id="birthdate" name="birthdate" value="{{ patient.birthdate }}" disabled="">
                    <p class="help-block">yyyy-mm-dd</p>
                </div>

                <div class="form-group">
                    <label class="control-label" for="address">ที่อยู่</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{ patient.address }}" >
                </div>
                <div class="form-group">
                    <label class="control-label" for="phone">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ patient.phone }}" >
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">อีเมล</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ patient.email }}" >
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}