{% extends "base.html" %}
{% block main %}
    {% load staticfiles %}
    <link href="{% static 'css/appointment_table_list.css' %}" rel="stylesheet" media="screen">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
        {% if request.session.user_role == 'patient' %}
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <a href="/make_appointment/{{ patient_id }}/" style="text-decoration:none"><span>นัดหมายแพทย์</span></a>
            <span class="next"> > </span>
            <span>ผลการค้นหา</span>
        {% elif request.session.user_role == 'staff' %}
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <a href="/list_patient/" style="text-decoration:none"><span>จัดการผู้ป่วย</span></a>
            <span class="next"> > </span>
            <a href="/make_appointment/{{ patient_id }}/" style="text-decoration:none"><span>ทำการนัดหมาย</span></a>
            <span class="next"> > </span>
            <span>ผลการค้นหา</span>
        {% endif %}
        </div>
    </div>
    <div class="row title" style="font-size:1.3em;">
        กรุณาเลือกวันที่ท่านต้องการทำการนัดหมายแพทย์<br/>
        {% if doctor %}
        <img src="{% static 'avatar/' %}{{ doctor.id }}.jpg" style="height: 60px;" />
        (คุณหมอ {{ doctor.first_name }} {{ doctor.last_name }})
        {% elif department %}
        (แผนก {{ department.name }})
        {% endif %}
    </div>
    <div class="row"  style="zoom:80%">
        <div class="col-md-8 col-md-offset-2" style="padding-left:2em">
            <div class="col-md-1">
                <table class="cal-button">
                    <tbody>
                        <tr><td style="height:50px;"></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr>
                            <td>
                                <div class="left-button-disable" id="left-button">
                                        <div class="button-div" onclick="backMonth();">
                                            <img src="{% static 'img/appointment/LeftButton.svg' %}"></img>
                                        </div>
                                </div>
                            </td>
                        </tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                    </tbody>
                </table>
            </div>
            <div id="calendar" class="col-md-10 calendar-cover"></div>
            <div class="col-md-1">
                <table class="cal-button">
                    <tbody>
                        <tr><td style="height:50px;"></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr>
                            <td>
                                <div class="right-button" id="right-button">
                                    <div class="button-div" onclick="nextMonth();">
                                        <img src="{% static 'img/appointment/RightButton.svg' %}"></img>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="calendar_time" class="col-md-8 col-md-offset-2 calendar_time" style="margin-top: 2em; margin-bottom:2em">
            <!-- Doctor Box -->
            <div class="row" style="text-align:center; margin-bottom: 25px;">
                <div class="col-md-3"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
                <div class="col-md-3"></div>
            </div>

             <form class="form-horizontal" name="RegisterForm" action="/make_appointment/{{ patient_id }}/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group hidden-form">
                    <label class="control-label" for="patient_id">Patient ID</label>
                    <input type="text" class="form-control" id="patient_id" name="patient_id" 
                        value="{{ patient_id }}" disabled="">
                </div>
                <div class="form-group hidden-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="clinic_time_m" name="clinic_time_id" >
                    </div>
                </div>
                <div class="form-group hidden-form">
                    <label class="control-label" for="appointment_status">Appointment Status</label>
                    <input type="text" class="form-control" id="appointment_status" name="appointment_status" value="1" disabled="">
                    <p class="help-block">1 = active, 0 = inactive, -1 = cancelled</p>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <button type="submit" class="cancel-button-disable" id="cancel-m" href="#" disabled>นัดหมายช่วงเช้า</button>
                </div>
            </form>

            <form class="form-horizontal" name="RegisterForm" action="/make_appointment/{{ patient_id }}/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group hidden-form">
                    <label class="control-label" for="patient_id">Patient ID</label>
                    <input type="text" class="form-control" id="patient_id" name="patient_id" 
                        value="{{ patient_id }}" disabled="">
                </div>
                <div class="form-group hidden-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="clinic_time_a" name="clinic_time_id" >
                    </div>
                </div>
                <div class="form-group hidden-form">
                    <label class="control-label" for="appointment_status">Appointment Status</label>
                    <input type="text" class="form-control" id="appointment_status" name="appointment_status" value="1" disabled="">
                    <p class="help-block">1 = active, 0 = inactive, -1 = cancelled</p>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="cancel-button-disable" id="cancel-a" href="#" disabled>นัดหมายช่วงบ่าย</button>
                </div>
            </form>

        </div>
    </div>
    <script>
        var docHour = [{% for clinic in clinics %}{{clinic.clinic_datetime.hour}}, {% endfor %}, 0];
        var docDay = [{% for clinic in clinics %}{{clinic.clinic_datetime.day}}, {% endfor %}, 0];
        var docMonth = [{% for clinic in clinics %}{{clinic.clinic_datetime.month}}, {% endfor %}, 0];
        var docYear = [{% for clinic in clinics %}{{clinic.clinic_datetime.year}}, {% endfor %}, 0];
        var docId = [{% for clinic in clinics %}{{clinic.id}}, {% endfor %}, 0];
    </script>
    <script src="{% static 'js/calendar-list.js' %}"></script>
    <script>
        setPatientAppoint(true);
        calendar(currentMonth,currentYear);
    </script>
{% endblock %}
{% block popup %}
    {% load staticfiles %}
    <link href="{% static 'css/appointment_table_list.css' %}" rel="stylesheet" media="screen">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <span>ยกเลิกเวลาออกตรวจ</span>
        </div>
    </div>
{% endblock %}