{% extends "base.html" %}
{% block main %}
    {% load staticfiles %}
    <link href="{% static 'css/appointment_table_list.css' %}" rel="stylesheet" media="screen">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <a href="/make_appointment/" style="text-decoration:none"><span>นัดหมายแพทย์</span></a>
            <span class="next"> > </span>
            <span>ผลการค้นหา</span>
        </div>
    </div>
    <div class="row title" style="font-size:1.3em;">
        
        ท่านสามารถยกเลิกวันออกตรวจที่ท่านต้องการได้<br>โดยเลือกวันที่ท่านต้องการยกเลิกการออกตรวจผู้ป่วย
    </div>
    <div class="row"  style="zoom:80%">
        <div class="col-md-8 col-md-offset-2" style="padding-left:2em">
            <div class="col-md-1">
                <table class="cal-button">
                    <tbody>
                        <tr><td style="height:50px;"></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr>
                            <td>
                                <div class="left-button-disable" id="left-button">
                                        <div class="button-div" onclick="backMonth();">
                                            <img src="{% static 'img/appointment/LeftButton.svg' %}"></img>
                                        </div>
                                </div>
                            </td>
                        </tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                    </tbody>
                </table>
            </div>
            <div id="calendar" class="col-md-10 calendar-cover"></div>
            <div class="col-md-1">
                <table class="cal-button">
                    <tbody>
                        <tr><td style="height:50px;"></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr>
                            <td>
                                <div class="right-button" id="right-button">
                                    <div class="button-div" onclick="nextMonth();">
                                        <img src="{% static 'img/appointment/RightButton.svg' %}"></img>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="calendar_time" class="col-md-8 col-md-offset-2 calendar_time" style="margin-top: 2em; margin-bottom:2em">
            <div class="col-md-3 col-md-offset-2">
                <button class="cancel-button-disable" id="cancel-m" href="#" onclick="cancelMorning();" disabled>ยกเลิกช่วงเช้า</button>
            </div>
            <div class="col-md-3 col-md-offset-2 ">
                <button class="cancel-button-disable" id="cancel-a" href="#" onclick="cancelAfternoon();" disabled>ยกเลิกช่วงบ่าย</button>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <form class="form-horizontal" name="CancelClinicTime" action="/cancel_clinic_time/{{ doctor_id }}/#title" method="post">
                <div class="form-group">
                    <label class="control-label" for="clinic_time">Clinic Time</label>
                    <input type="text" class="form-control" id="clinic_time" name="clinic_time" >
                    <p class="help-block">format: yyyy-mm-dd</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="cancel-button-disable">ยกเลิกเวลาออกตรวจ</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var docHour = [{% for clinic_time in clinic_times %}{{clinic_time.clinic_datetime.hour}}, {% endfor %}, 0];
        var docDay = [{% for clinic_time in clinic_times %}{{clinic_time.clinic_datetime.day}}, {% endfor %}, 0];
        var docMonth = [{% for clinic_time in clinic_times %}{{clinic_time.clinic_datetime.month}}, {% endfor %}, 0];
        var docYear = [{% for clinic_time in clinic_times %}{{clinic_time.clinic_datetime.year}}, {% endfor %}, 0];
    </script>
    <script src="{% static 'js/calendar-list.js' %}"></script>
{% endblock %}
{% block popup %}
    {% load staticfiles %}
    <link href="{% static 'css/appointment_table_list.css' %}" rel="stylesheet" media="screen">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 navText">
            <a href="/home/" style="text-decoration:none"><span>Home</span></a>
            <span class="next"> > </span>
            <span>ยกเลิกเวลาออกตรวจ</span>
        </div>
    </div>
{% endblock %}