{% extends "base.html" %}
{% block main %}
    <div class="row">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 navText">
            {% if request.session.user_role == 'patient' %}
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <span>นัดหมายแพทย์</span>
            {% elif request.session.user_role == 'staff' %}
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <a href="/list_patient/" style="text-decoration:none"><span>จัดการผู้ป่วย</span></a>
                <span class="next"> > </span>
                <span>ทำการนัดหมาย</span>
            {% elif request.session.user_role == 'doctor' %}
                <a href="/home/" style="text-decoration:none"><span>Home</span></a>
                <span class="next"> > </span>
                <a href="/list_patient/" style="text-decoration:none"><span>จัดการผู้ป่วย</span></a>
                <span class="next"> > </span>
                <span>ทำการนัดหมาย</span>
            {% endif %}
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <h1 class="headText" style="text-align:center;font-family:SK-Text;">ค้นหาเวลานัดหมาย</h1>
            <hr/>
            <form class="form-inline" style="text-align:center;" name="RegisterForm" action="/make_appointment/{{ patient_id }}/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group" style="text-align:center;">
                    <label class="control-label" for="doctor_id">ค้นโดยชื่อแพทย์: </label>
                    <br/>
                    <select class="form-control" id="doctor_id" name="doctor_id" >
                        {% for doctor in doctors %}
                        <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }} ({{ doctor.specialist.name }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 col-md-offset-4">
                        <button type="submit" class="default-button" style="margin-top:1em;">GO</button>
                </div>
            </form>
            <br/><br/><br/><br/><br/>
            <form class="form-inline" style="text-align:center;" name="RegisterForm" action="/make_appointment/{{ patient_id }}/" method="post">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="form-group">
                    <label class="control-label" for="department_id">ค้นโดยชื่อแผนก: </label>
                    <br/>
                    <select class="form-control" id="department_id" name="department_id" >
                        {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 col-md-offset-4">
                        <button type="submit" class="default-button" style="margin-top:1em;">GO</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}